{% extends 'layouts/barra.html' %}
{% load static %}
{%block blockname%}
<h1 class="titulo">Lista de Jugadores</h1>

<div class="contenedor-tabla">
    <table class="tabla">
        <tr >
            <td class="encabezado">Equipo</td>
            <td class="encabezado">Jugador</td>
            <td class="encabezado">Foto</td>
            <td class="encabezado">Numero</td>
            <td class="encabezado">Posicion</td>
            <td class="encabezado">Eliminar</td>

        </tr>

        {%for jugador in jugadores%}
        <tr>
            <td>{{jugador.team.name}}</td> 
            <td>{{jugador.name}}</td>
            <td><img src="{{ jugador.photo.url }}" alt="Foto del jugador" width="150"></td>
            <td>{{jugador.numero}}</td>
            <td>{{jugador.posicion}}</td>
            <td><a href="{% url 'appteams:eliminar_jugador' jugador.id %}">Eliminar</a></td>

        </tr>
        {% endfor %}
    </table>
</div>

{%endblock%}